* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}

.piece {
  padding: 3em;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.5s linear;
  background-color: whitesmoke;
}

.blue {
  background-color: navy;
}

.yellow {
  background-color: yellow;
}

#message {
  transition: opacity 500ms ease-in-out;
}


.win {
  font-size: 4rem;
  font-weight: bold;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

#play-again {
  border-radius: 12px;
  padding: 0.5em 3em;
  font-size: 1.5rem;
  margin: 1rem;
  transition: opacity 500ms ease-in-out;
}

p {
  margin: 0.4rem;
  font-size: 1.4rem;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .piece {
    padding: 1rem;
  }

  .win {
    font-size: 2rem;
  }
}